html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* this input box style is for authentication input */
.inputBox{
  border: 1px solid #c4c4c4;
  outline: 'none';
}
.inputBox::placeholder{
  color: #c0bfbf;
}
.inputBox:hover{
  border: 1px solid #4f4f4f;
}
.inputBox:focus{
  border: 2px solid #D23F57;
  outline: none
}


.inputBox+span{
  display: none;
  color: rgb(233, 69, 96);
  margin: 4px 14px 0px;
  font-size: 0.75rem;
  line-height: 1.3;
  display: none;
  letter-spacing: 0.05rem;
}
.inputBox[focused='true']:invalid +span{
  display: block;
}
.inputBox[focused='true']:invalid{
  border: 1px solid rgb(233, 69, 96);
  color: rgb(233, 69, 96);
}



